    header {
      text-align: center;
      background: url(../images/headfont.png);
      background-size: cover;
      color: rgba(0,0,0,0.5);
    }
    a {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 30px;
      font-weight: lighter;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    .background {
      background: url(../images/background.png);
      
    }
    .text {
      background: white;
      width: 500px;
      margin: 0 auto;
      padding: 40px;
    }	
 p {
    text-indent: 20px; 
   }
